.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 50px;
  align-items: center;
  & a {
    display: inline-block;
    width: 300px;
    height: 700px;
    align-self: center;
    justify-self: center;
    background-color: rgb(219, 216, 216);
    text-align: center;
  }
}
