.header {
  display: grid;
  grid-template-columns: auto 80px;
  margin-bottom: 20px;
  background-color: rgb(127, 208, 228);
  align-items: center;
  padding: 30px 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  svg {
    cursor: pointer;
    opacity: 65%;
    &:hover {
      opacity: 100%;
    }
  }
  span {
    padding-left: 20px;
    font-weight: bold;
    font-size: 18px;
    color: rgb(29, 29, 190);
  }
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.grid {
  display: none;
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.titlemiddle {
  text-align: center;
}
